.mat-table {
  overflow-x: hidden !important; 
  width: 100%;
}

// td {
//   min-width: 130px;
//   margin: 5px !important;
// }
.mat-spinner{
  ::ng-deep circle {
    stroke: #78BE20;
}
}
.mat-header-cell {
  min-width: 50px;
  color: #000;
  max-width: max-content;
}

.mat-elevation-z8 {
  overflow-x: scroll !important;
  width: 100%;
}

table {
  width: 100%;
  overflow-x: hidden !important;
}
.btn-edit {
  background-color: #dae0f8;
  color: #14309e;
  border: none;
  box-shadow: 0px 2px 3px #dae0f8;
  border-radius: 5px;
  padding: 10px 10px;
}

.btn-edit:hover {
  border: #14309e;

}

//search bar
.example-header {
padding-top: 0px;
float: right;

}
.mat-table {
  overflow-x: hidden !important; 
}
.mat-icon{
  color: #2C45A7;
}
// td {
//   min-width: 130px;
//   margin: 5px !important;
// }
.mat-spinner{
  ::ng-deep circle {
    stroke: #2C45A7;
}
}
.btn-success{
  background-color: #2C45A7;
 
}
.btn{
  
  background-color: #2C45A7;
  box-shadow: 0px 2px 5px #2C45A7 !important;
}


//search bar
.example-header {
padding-top: 0px;
float: right;

}    

.advanceSearch{
  background-color: #fff !important;
  color: #2C45A7;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  text-align: center;  
  box-shadow: 0px 2px 5px #ddd !important;
}

.Rightspace {
  margin-right: 100px; /* Adjust the value as needed for your desired spacing */
}
.Rightspace1 {
  margin-right: 40px; /* Adjust the value as needed for your desired spacing */
}
.Rightspace2 {
  margin-right: 20px; /* Adjust the value as needed for your desired spacing */
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  /* Add styling for the icon font (e.g., Font Awesome) */
  font-family: "Font Awesome";
  font-size: 16px;
} 

//search list ---->

.filtered-search-box{
height: auto;
width: 98%;
padding: 10px;
margin: auto;
box-shadow: 0px 1px 8px #b1bce4;
border-radius: 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
overflow: hidden;
align-items: center;
}
.filtered-search-box div{
width: 250px;

}
.filtered-search-box1{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }
.filter-dropdown{
min-width: 200px;
max-width: 100%;
padding: 10px 12px;
border-radius: 5px;
margin: 5px;
box-shadow: 0px 2px 5px #ddd;
border: none;
}
.searchBar{
padding: 10px 12px;
margin: 5px;
width: 250px;
border-radius: 5px;
outline-color: #2C45A7;
border: none;
box-shadow: 0px 2px 5px #ddd;
}

//--------->

.badge rounded-pill badge-success{
  width: 500px;
  font-size: medium;
}