<h2>Users List</h2>
<div class="filtered-search-box">
<label for="">First Name</label>
<input type="text" #input (keyup)="filterFirstNameTable($event)" placeholder='Search' class="searchBar"/>
<label for="">Email</label>
<input type="text" #input (keyup)="filterEmailTable($event)" placeholder='Search' class="searchBar"/> 
<label for="">PhoneNumber</label>
<input type="number" #input (keyup)="filterPhoneNumberTable($event)" placeholder='Search' class="searchBar"/> 

<button type="submit" class="advanceSearch" (click)="ontoggleclick()"><i class="fa fa-filter"></i> Filter </button><br><br><br>

<div *ngIf="visible">
    <mat-form-field >
        <mat-label><i class="fa fa-filter"></i> Filter Status</mat-label>
        <div>
            <select matNativeControl name="userStatus" (change)="filterUserStatusTable($event)">
                <option value=""> All </option>
                <option value="101">Active</option>
                <option value="102">Suspended</option>
                <option value="103">Inactive</option>
            </select>
        </div>
    </mat-form-field>
    <mat-form-field >
        <mat-label><i class="fa fa-filter"></i> Filter User Type</mat-label>
        <div>
            <select matNativeControl name="userType" (change)="filterUserTypeTable($event)">
                <option value=""> All </option>
                <option value="101">Admin</option>
                <option value="102">Student</option>
                <option value="103">Faculty</option>
            </select>
        </div>
    </mat-form-field>
    <mat-form-field>
        <mat-label><i class="fa fa-filter"></i> Filter Stream</mat-label>
        <div>
            <select matNativeControl name="stream" (change)="filterStreamTable($event)">
                <option value=""> All </option>
                <option *ngFor="let item of dataSource.data" value="{{item.stream.streamName}}">
                    {{item.stream.streamName}}
                </option>
            </select>
        </div>
    </mat-form-field>
    <mat-form-field >
        <mat-label><i class="fa fa-filter"></i> Filter Category</mat-label>
        <div>
            <select matNativeControl name="userType" (change)="filtercategoryTable($event)">
                <option value=""> All </option>
                <option value="classroom">classroom</option>
                <option value="online">online</option>
            </select>
        </div>
    </mat-form-field>

</div>

</div><br>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->


        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let element,index as i"> {{ element?.firstName }} </td>
        </ng-container>


        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let element,index as i"> {{ element?.lastName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone number </th>
            <td mat-cell *matCellDef="let element,index as i"> {{ element?.phoneNumber }}</td>
        </ng-container>


        <ng-container matColumnDef="userStatus">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element,index as i">
                <span *ngIf="element?.userStatus == '101'" class="badge rounded-pill badge-success">Active</span>
                <span *ngIf="element?.userStatus == '102'" class="badge rounded-pill badge-danger">Suspended</span>
                <span *ngIf="element?.userStatus == '103'" class="badge rounded-pill badge-danger">Inactive</span>
            </td>
        </ng-container>


        <ng-container matColumnDef="userType">

            <th mat-header-cell *matHeaderCellDef> User Type</th>
            <td mat-cell *matCellDef="let element,index as i"> {{ element?.userType == 101?'Admin':element?.userType ==
                102?'Student':'Faculty' }}</td>

        </ng-container>

        <ng-container matColumnDef="stream">
            <th mat-header-cell *matHeaderCellDef> Stream</th>
            <td mat-cell *matCellDef="let element,index as i"> {{ element?.stream?.streamName }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email</th>
            <td mat-cell *matCellDef="let element,index as i"> {{ element?.email }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone number </th>
            <td mat-cell *matCellDef="let element,index as i"> {{ element?.phoneNumber }}</td>
        </ng-container> -->

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element,index as i"> {{ element?.category }}</td>
        </ng-container>


       


        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element,index as i">


                <button  (click)="onUpdateClicked(element)" class="btn btn-success px-3" id="editButton"><i class="bi bi-pencil-square"

                        aria-hidden="true" title="edit"></i></button>&nbsp;

                <!-- <button [disabled]="userType == 'ROLE_HR' || userType == 'ROLE_IN'" (click)="openDialog(element.id,element.title)" class="btn btn-danger px-3"><i
                        class="bi bi-trash-fill" aria-hidden="true" title="delete"></i></button> -->


            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
</div>
<div *ngIf="dataSource.data.length == 0">
    <p>No data!</p>
</div>
<!-- 
<mat-spinner [diameter]="40" class="text-center" *ngIf="!isloaded"></mat-spinner> -->

    <mat-paginator [length]="100"  [ngStyle]="{'display': showPaginator ? 'block' : 'none'}" [pageSizeOptions]="[5,10,15,20]" [pageSize]="5" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>

