/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap";

// @import "../node_modules/mdb-ui-kit/css/mdb.min.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
// .mat-drawer{
//     z-index: 5000;
//     background-color: #2C45A7;
// }

//there is a default style for heading tag. this will override that....
h1,h2,h3,h4,h5,h6{
    margin-bottom: 0 !important;
}
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: white;
    background-color: #2C45A7;
    border-color: #2C45A7;
}

.btn {

    box-shadow: none !important;
}