table {
    width: 100%;
      overflow-x: hidden !important; 
    }
    .mat-table {
      overflow-x: hidden !important; 
    }
    .mat-elevation-z8{
      overflow-x: scroll !important;
        width: 100%;
    }
    .mat-header-cell{
      min-width: 130px;
      color: #000;
      max-width: max-content;
    }
    .btn-success{
      background-color: #2C45A7;
    }
    .form-control{
      color: #000;
      font-size: large;
      box-shadow: 0px 2px 4px #ddd;
      border: none;
    }
    .badge-info{
      color: #2C45A7;
    }
    ::-webkit-scrollbar{
      visibility: hidden;
    }
    ::-webkit-scrollbar:hover{
      visibility: visible;
    }
    


    .mat-sort-header-container {
      justify-content: center !important;
    }
    //search list ---->

.filtered-search-box{
  height: 80px;
  width: 98%;
  padding: 10px;
  margin: auto;
  box-shadow: 0px 1px 8px #b1bce4;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding-right: 800px;
  
}
.filtered-search-box div{
  width: 100px;
}
.filter-dropdown{
  min-width: 200px;
  max-width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0px 2px 5px #ddd;
  border: none;
 
}

.searchBar{
  padding: 10px 12px;
  margin: 5px;
  border-radius: 5px;
  outline-color: #2C45A7;
  border: none;
  box-shadow: 0px 2px 5px #ddd;
}

//--------->