
<h1>{{labels.pageTitle}}</h1>
<pre>{{questionBody | json}}</pre>
    <!-- <h2>{{labels.contentHeading}}</h2>{{questionBody?.type}}
    <h2>{{labels.questionHeading}}</h2>
    <div>
        {{questionBody?.questionText}}
    </div>

    <h2>{{labels.answerHeading}}</h2>
    <ng-template *ngIf="questionBody?.type == 'singleAnswer' ">
        {{questionBody?.answers}}
    </ng-template>

    <h2>{{labels.answerExplanationHeading}}</h2>
    <div>
        {{questionBody?.explanation}}
    </div> -->

<button class="save-button btn" (click)="onSave()"></button>

<ng-template *ngIf="questionBody == null">
    <p>
        No Data
    </p>
</ng-template>
