
<div  class="container-1">
    <div class="cont-1">

    </div>
    <div class="cont-2">
       
    
            <h1 style="text-align: center;color: #2C45A7;">Purchase Stream</h1>

           
            <form [formGroup]="userForm" >
                <br>
                <div class="row">
                    <div class="col">
                        
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control-input" name="firstName" placeholder="First name" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
                        <div *ngIf="submitted && f.firstName.errors?.required" class="invalid-feedback"> 
                            *Required
                          </div>
                    </div>
                    <br>
                    <div class="col">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control-input" name="lastName" placeholder="Last name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                        <div *ngIf="submitted && f.lastName.errors?.required" class="invalid-feedback"> 
                            *Required
                          </div>
                    </div>
                    </div>
                   
              
               
                
                <br>
                    
                    <div class="row">
                        <div class="col">
                            <label for="phoneNumber">Phone number</label>
                            <input type="text" class="form-control-input" name="phoneNumber" placeholder="Phone number" formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
                            <div *ngIf="submitted && f.phoneNumber.errors?.required" class="invalid-feedback"> 
                                *Required
                              </div>
                        </div>
<br>
                        <div class="col">
                            <label for="email">Email</label>
                            <input type="text" class="form-control-input" name="email" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors?.required" class="invalid-feedback"> 
                                *Required
                              </div>
                        </div>
                    </div>
            <br>
                    <div class="row">
                        <div class="col">
                            <label for="password1">Password</label>
                            <input type="password" class="form-control-input" name="password1" placeholder="Password" formControlName="password1" [ngClass]="{ 'is-invalid': submitted && f.password1.errors }">
                            <div *ngIf="submitted && f.password1.errors?.required" class="invalid-feedback"> 
                                *Required
                              </div>
                        </div>
            
                        <div class="col">
                            <label for="password2">Confirm Password</label>
                            <input type="password" class="form-control-input" name="password2" placeholder="Confirm Password" formControlName="password2" [ngClass]="{ 'is-invalid': f.password2.errors }">
                            <div *ngIf="submitted && f.password2.errors?.required" class="invalid-feedback"> 
                                *Required
                              </div>
                              <div *ngIf="f.password2.errors?.confirmedValidator" class="invalid-feedback">Password and Confirm Password must be match.</div>
                        </div>
                    </div>
                    <br>
               
        
                    <div class="row">
                        <div class="col">
                            <label for="stream">Stream</label>
                        <!-- <input type="text" class="form-control-input" name="stream" placeholder="Stream" formControlName="stream" [ngClass]="{ 'is-invalid': submitted && f.stream.errors }"> -->
                        <select name="stream" class="form-control-input" formControlName="stream" (change)="streamChange()"  [ngClass]="{ 'is-invalid': submitted && f.stream.errors }">
                            <option value="" selected> Select </option>
                            <option  *ngFor="let e of streamList" [ngValue]="e">{{e.streamName}}</option>
                        </select>
                        <div *ngIf="submitted && f.stream.errors?.required" class="invalid-feedback"> 
                            *Required
                          </div>
                        </div>
                    </div>
                <br>

                <div class="course-cont" ngClass="{{courseViewHidden? 'hidden':'course'}}">
                    <div class="row">
                        <div class="col">
                            <h2 style="color: #2C45A7;">{{ streamName }}</h2>
                            <p>In this stream, our expert mentors have curated all the subjects with a mixture
                                of self-paced learning modules and Live classes which will help you to prepare 
                               for GATE 2024 and beyond. The course will consist of Strategy, Tips & Tricks, 
                               Problem-solving, and Core Concept building covering the entire GATE Syllabus.
                               In addition to this, get exclusive access to e-study materials, online doubt-solving 
                               sessions, quizzes, assignments, PYQ solutions with real-time guidance, and much more.</p>
                        </div>
    
                        <div class="col">
                            <div class="row">
                               
                                <!-- <div class="row">
                                    <div class="col-8">
                                      <input type="text" name="" class="form-control-input" placeholder="Enter coupon code">
                                      
                                    </div>
                                    <div class="col">
                                        <button class="btn-submit">Apply</button>
                                    </div>
                                  </div> -->
                                  <br>
                                  <h2>Summary</h2>
                                <div class="row">
                                 <div class="col-8">
                                     <b>Price</b>
                                 </div>
                                 <div class="col">
                                     <b>$ {{streamPrice}}</b>
                                 </div>
                                </div>
                                <br>
                                <div class="row">
                                    
                                </div>
                                
                                <br>
                                <div class="row">
                                 <div class="col-8">
                                     Discount
                                 </div>
                                 <div class="col">
                                    &nbsp; &nbsp;{{streamDiscount}} %
                                 </div>
                                </div>
                               
                                <hr>
     
                                <div class="row">
                                 <div class="col-8">
                                    <h2><strong> Total</strong></h2>
                                 </div>
                                 <div class="col">
                                   <h2> <b> $ {{getTotalPrice(streamPrice,streamDiscount)}}</b></h2>
                                 </div>
     
                                </div>
                                
                               <br>
                                <div class="row">
                                  
                                   <div class="col-8">
                                    <google-pay-button *ngIf="userForm.valid"
                                    environment="TEST"
                                    [buttonType]="buttonType"
                                    [buttonColor]="buttonColor"
                                    [buttonLocale]="buttonLocale"
                                    [existingPaymentMethodRequired]="existingPaymentMethodRequired"
                                    [paymentRequest]="paymentRequest"
                                    (loadpaymentdata)="onLoadPaymentData($event)"
                                    (error)="onError($event)"
                                    [paymentAuthorizedCallback]="onPaymentDataAuthorized"
                                  ></google-pay-button>
                                   

                                    
                                   </div>
                                   <div class="col">
                                    <input type="submit" value="Proceed" class="btn-submit" *ngIf="isPurchased" >
                                   </div>
                                </div>
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
               
            </form>

     
            </div>

   
