
*{
    margin: 0;
}
.form-control-input{
    padding: 10px 12px;
    width: 100%;
    border-color: #333;
    border-radius: 5px;
    border-width: 1px;
    border-color: #2C45A7;
    outline-color: #2C45A7;
}
.btn-submit{
    padding: 10px 15px;
    background-color: #2C45A7;
    border: none;
    box-shadow: 0px 2px 3px #ddd;
    width: fit-content;
    color: #fff;
    margin: auto;
    border-radius: 5px;
}
.close-button{
    float: right;
    top:-24px;
    right:-24px;
    background-color: transparent;
    border-color: transparent;
  }
  input,mat-option,option,select,mat-select{
    width: 100%;
    box-shadow: 0px 2px 3px #ddd;
    border: none;
    padding: 10px 10px;
  }
  .close-icon {
    transition: 1s ease-in-out;
  }
  
  .close-icon:hover {
    transform: rotate(180deg);
  }
  
  ::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
  }
  
  ::ng-deep .icon-outside .mat-dialog-container {
   overflow: unset
  }