
.loginbtn {
    background-color: white; /* Green */
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }
  .btn{
    background-color: #2C45A7 !important;
    color: white;
    
  }
  .error {
    color: rgba(189, 11, 11, 0.603);
  }
  
  .inputs input[type="text"][readonly]{
    border: 2px solid rgba(0,0,0,0)
  }

 
  