<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="top-bar">
    <div class="path">
     <a href="" routerLink="/home/quizes/quiz" class="anchor-tag">QUIZES</a>
     &#10095;
     <a href="" routerLink="/home/quizes/quiz/edit" class="anchor-tag">EDIT</a>
    </div>
</div>

<form #quizEditForm="ngForm" class="formCenter"> 
    <h2 style="padding-right: 950px;">Edit Quiz</h2>
    
    <div class="row" style="padding-left: 500px;">        
        <div class="col">
            <input type="submit" value="Add Question" (click)="AddaQuestion()" class="btn-submit"
                id="addQuestion">&nbsp;
                <input type="submit" value="Save" (click)="UpdateQuizDetails()" class="btn-submit"
            id="saveQuiz" [disabled]="quizBtn">
        </div>
       

        
    </div><br>
    <div class="row">
        <div class="col">

            <label for="streamDrop"><b>Stream:</b></label>
            <select [(ngModel)]="UpdatedStreamId" class="form-control" (change)="onStreamChange($event)" id="streamDrop"
                name="streamDrop" #streamDrop="ngModel" (ngModelChange)="valuechange($event)" required>
                <!-- <option selected value="{{EditQuiz?.topic?.subject?.stream?.streamName}}">
                    {{EditQuiz?.topic?.subject?.stream?.streamName}}</option> -->
                <option value="">-- Please Select--</option>
                <option *ngFor="let item of streamList | customeArraySort:'streamName' " [value]="item?.id">
                    {{item.streamName}}</option>
            </select><br>
            <div *ngIf="quizEditForm?.controls?.streamDrop?.errors?.required" class="error">
                *Stream Name is required
            </div>
            <br>
        </div>

        <div class="col">
            <label for="subjectDrop"><b>Subject Name:</b></label>
            <select [(ngModel)]="UpdatedSubjectId" id="Subject" class="form-control" (change)="onSubjectChange($event)"
                id="subjectDrop" name="subjectDrop" #subjectDrop="ngModel" (ngModelChange)="valuechange($event)"
                required>
                <option value="">-- Please Select--</option>
                <option *ngFor="let item of FilteredsubjectList | customeArraySort:'subjectName' " [value]="item?.id">
                    {{item.subjectName}}</option>
            </select><br>
            <div *ngIf="quizEditForm?.controls?.subjectDrop?.errors?.required" class="error">*Subject Name is required
            </div>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <label for="topicDrop"><b>Topic Name:</b></label>
            <select [(ngModel)]="UpdatedTopicId" class="form-control" id="topicDrop" name="topicDrop"
                #topicDrop="ngModel" (ngModelChange)="valuechange($event)" required>
                <option [ngValue]=""> -- Please Select--</option>
                <option *ngFor="let item of FilteredtopicList | customeArraySort:'topicName' " [ngValue]="item.id">
                    {{item.topicName}}</option>
            </select><br>
            <!-- <input type="text" [(ngModel)]="UpdatedTopic.topicName" value="{{EditQuiz.topic.topicName}}" class="form-control"
                (ngModelChange)="valuechange($event)" id="topic" name="topic" #topic="ngModel" required> -->
            <div *ngIf="quizEditForm?.controls?.topicDrop?.errors?.required" class="error">*Topic Name is required</div>
        </div><br><br>

        <div class="col">
            <label for="quizName"><b>Quiz Name:</b></label>
            <input type="text" [(ngModel)]="UpdatedQuizName" value="{{EditQuiz.quizName}}" class="form-control"
                (ngModelChange)="valuechange($event)" id="quizName" name="quizName" #quizName="ngModel" required><br>
            <div *ngIf="quizEditForm?.controls?.quizName?.errors?.required" class="error">*Quiz Name is required</div>
        </div>
    </div><br>


    <div class="row">
        <div class="col">
            <label for="passCriteria"><b>Min No.Of Question:</b></label>
            <input type="text" [(ngModel)]="UpdatedPassCriteria" value="{{EditQuiz.passCriteria}}" class="form-control"
                (ngModelChange)="valuechange($event)" id="passCriteria" name="passCriteria" #passCriteria="ngModel"
                required><br>
            <div *ngIf="quizEditForm?.controls?.passCriteria?.errors?.required" class="error">*Min No. Of Question is
                required
            </div>
        </div><br>

        <div class="col">
            <!-- <label for="title"><b>Total No.Of Question:</b></label>
            <input type="text" [(ngModel)]="UpdatedTotalNoOfQuestion" value="20" class="form-control"
                (ngModelChange)="valuechange($event)" id="TotalNoOfQuestion" name="TotalNoOfQuestion" #TotalNoOfQuestion="ngModel"
                required> -->
            <!-- <div *ngIf="quizEditForm.controls.TotalNoOfQuestion.errors?.required" class="error">*Total No.Of Question is required
            </div> -->

        </div><br>
    </div><br><br>


    


    <!-- <div >
      <button class="loginbtn btn" [disabled]="EditQuiz.controls.streamname.errors?.pattern ||EditQuiz.controls.Acronymn.errors?.pattern || streamBtn">Update</button>
    </div> -->
    <!-- <div>
      <button class="loginbtn btn">Update</button>
    </div> -->
    <br>
    <hr width="100%">
    <h1 *ngIf="this.questionList.length!=0">Question List</h1><br>

    <body class="containerStyle">

        <div class="accordion">
            <div *ngFor="let question of questionList, let i = index" class="contentBx">

                <div class="question">
                    <div>
                        <!-- {{question.questionText}} -->
                        <div [innerHTML]="question.questionText"></div>
                    </div>
                    <div >
                        <button (click)="getQuestionList(i)"  aria-label="View Answer" class="dropDown-button">
                            <i *ngIf="this.isActive[i]" class="material-icons">keyboard_arrow_up</i>
                            <i *ngIf="!this.isActive[i]" class="material-icons">keyboard_arrow_down</i>
                            
                        </button>
                        <button (click)="openEditQuestionDialog(question)" aria-label="Edit Question" class="edit-button"><i class="bi bi-pencil-square"
                                aria-hidden="true" title="edit"></i></button>
                        <button (click)="openDeleteDialog(question.id)" aria-label="Delete Question"  class="delete-button"><i class="bi bi-trash-fill"
                                aria-hidden="true" title="delete"></i></button>
                    </div>
                </div>

                <div [ngClass]="this.isActive[i] ? 'content-active' : 'content-inactive'">
                    <div *ngIf="question.questionType=='singleAnswer'">
                        <div *ngFor="let item of question.answers | customeArraySort:'id' ">
                            <p><b>Answer:</b></p>
                            <div class="p" [innerHTML]="item.answer"></div>
                            <p><b>Explanation:</b> </p>
                            <div class="p" [innerHTML]="question.explanation"></div>
                        </div>
                    </div>
                    
                    <div *ngIf="question.questionType=='multipleChoice'">
                        <div class="tick" *ngFor="let answer of question.answers | customeArraySort:'optionId'">    
                        <p><b>Option {{answer.optionId}}:</b> {{answer.answer}}</p> 
                        <div *ngIf="answer.correct"> <i class="bi bi-check"
                            aria-hidden="true" title="delete" style="color: green;width: 50%;"></i></div>                                            
                        </div>                       
                       
                        <p><b>Explanation:</b> </p><div class="p" [innerHTML]="question.explanation"></div>
                    </div>

                    <div *ngIf="question.questionType=='multipleSelect'">
                        <div class="tick" *ngFor="let answer of question.answers | customeArraySort:'optionId'">  
                                
                        <p><b>Option {{answer.optionId}}:</b> {{answer.answer}}</p> 
                         <div *ngIf="answer.correct"> <i class="bi bi-check"
                            aria-hidden="true" title="delete" style="color: green;width: 20%;"></i></div>
                        
                                                                    
                        </div>
                        <p><b>Explanation:</b> </p><div class="p" [innerHTML]="question.explanation"></div>
                     
                        
                    </div>
                </div>
            </div>


        </div>
        

    </body>


</form>