.anchor-tag{
  font-size: larger bold;
  color: #2C45A7;

}
#top-bar{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.path{
  padding: 10px 12px;
  margin-top: 5px;
}

.loginbtn {
  background-color: #2C45A7;
  /* Green */
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;



}

.buttoncustome {
  width: 10%;
  background-color: #2C45A7;
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.btn-submit {
  padding: 10px 10px;
  background-color: #2C45A7;
  border: none;
  box-shadow: 0px 2px 3px #ddd;
  width: fit-content;
  color: #fff;
  margin: auto;
  border-radius: 5px;
}

.save-submit {
  padding: 10px 10px;
  background-color: #2C45A7;
  border: none;
  box-shadow: 0px 2px 3px #ddd;
  width: 100px;
  color: #fff;
  margin: auto;
  border-radius: 5px;
}

.row {
  width: 900px;
}

.formCenter {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginbtn {
  background-color: #2C45A7;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.error {
  color: rgba(189, 11, 11, 0.603);
}

.alert {
  width: 352px;
  height: 50px;
  display: inline-block;
}


input,
mat-option,
option,
select,
mat-select {
  width: 80%;
  box-shadow: 0px 2px 3px #ddd;
  border: none;
  padding: 10px 10px;
}

.btn {
  background-color: #2C45A7;
  color: white;
  width: 80px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button {
  float: right;
  top: -52px;
  right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}





/* ----------universal selector with font-family--------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Belanosima", sans-serif;
  font-family: "Bree Serif", serif;
  font-family: "Indie Flower", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* Overall Container styles */
.container {
  width: 100%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  margin: 30px 0 20px 0;
}

p {
  margin-bottom: 10px;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

/* ----Common style for table--- */
table {
  margin: auto;
  width: 90%;
}

table,
th,
td {
  border: 1px solid dimgrey;
  border-collapse: collapse;
}

th {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 35px;
}


// container styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
}

.containerStyle {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  background: #FAFAFA;
  height: 100%;
  width: 100%;
 
}

.accordion {
  max-width: 850px;
  display: left;
  font-size: 10;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
  text-align: left;
  height: 100%;
  width: 100%;
}

.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
  text-align: left;
  height: 100%;
  width: 100%;
}


.content-active {
  height: auto;
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  text-align: left;

}

.content-active p {
  text-align: left;

}

.content-inactive {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.1s;
  overflow-y: auto;
  text-align: left;

}

.editBtn {
  padding: auto;
}


.question {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: #2C45A7;
  color: #fff;
  cursor: pointer;
  text-align: left;

}

.edit-button,
.delete-button,
.dropDown-button {
  border: none;
  background-color: transparent;
  color: white;
  padding: 0px 10px 0px 30px;
  cursor: pointer;
}

.contentBx ng-star-inserted active {
  text-align: left;
}

.p {
  text-align: left;
}


.arrow {
  border: none;
  width: 10%;
  background-color: #2C45A7;
  padding: 0px 0px 0px 50px;
}
.tick{
  display: grid;
  grid-template-columns: 1fr auto;
  
}