.mat-table {
  overflow-x: hidden !important; 
}
.mat-icon{
  color: #2C45A7;
}
.btn-edit {
  background-color: #dae0f8;
  color: #14309e;
  border: none;
  box-shadow: 0px 2px 3px #dae0f8;
  border-radius: 5px;
  padding: 10px 10px;
}

.btn-edit:hover {
  border: #14309e;

}

// td {
//   min-width: 130px;
//   margin: 5px !important;
// }
.mat-spinner{
::ng-deep circle {
  stroke: #2C45A7;
}
}
.mat-header-cell {
  min-width: 130px;
  color: #000;
  max-width: max-content;
}
.btn-success{
  background-color: #2C45A7;;
}
.mat-elevation-z8 {
  overflow-x: scroll !important;
  width: 100%;
}

table {
  width: 100%;
  overflow-x: hidden !important;
}


