<h2>View and Search-{{tableHeader}}</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" data-pattern="priority-columns">
        <table summary="This table is formatted as RWD-Table-Patterns' functionality" class="table table-bordered table-hover">
          <!-- <caption class="text-center">Data from Database</caption> -->
          <thead>
            <tr>
              <th *ngFor = "let heads of headers; let i= index"
              data-priority="i+1">{{heads|uppercase}}</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of tableDetails">
            <tr>
              <td>{{data.firstName}}</td>
              <td>{{data.lastName}}</td>
              <td>{{data.PhoneNumber}}</td>
              <td>{{data.eMail}}</td>
              <td>{{data.userType}}</td>
              <td>{{data.stream}}</td>
              <td>{{data.category}}</td>
              <td>{{data.status}}</td>
              <td>
                <div class="col">
                  <div class="text-center">
                      <br>
                      <ng-template [ngIf]="hasEditButton">
                        <!-- <input class="editbtn btn" type="submit" value="Edit" (click)="onEdit()"> -->
                         <mat-icon (click)="onEdit()"> border_color</mat-icon>
                      </ng-template>
                  </div>
                  <br>
              </div>
              </td>
            </tr>

          </tbody>
          <!-- <tfoot>
            <tr>
              <td colspan="5" class="text-center">Data retrieved from database</td>
            </tr>
          </tfoot> -->
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>