<title>Create Subject</title>
<section class="vh-100 gradient-custom">

    <div class="container">

        <div class="row justify-content-center align-items-center ">

            <div class="col">
                <!-- <div class="card shadow-2-strong card-registration" style="border-radius: 10px;">
                    <div class="card-body"> -->

                <form name="form"
                #f="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">

                        <div class="col">
                            <h1>Create Subject</h1><br>
                        </div>
                    </div>
                    <!-- Stream Name  -->

                    <div class="row">

                        <div class="col-md-6 mb-4 pb-2">
                            <div class="form-floating mb-3">
                                <select [(ngModel)]="dropStream" class="form-control" name="dropStream">
                                    <option *ngFor="let item of streamList" [ngValue]=item>{{item.streamName}}</option>
                                </select>


                                <!-- <mat-select class="form-control" formControlName="streamName">
                                    <mat-option>srgrg</mat-option>
                                    <mat-option>srgrg</mat-option>
                                    <mat-option>srgrg</mat-option>
                                    <mat-option>srgrg</mat-option>
                                    
                                </mat-select> -->
                                <label for="floatingInput">streamName</label>
                                <!-- <mat-error *ngIf="submitted && createSubjectForm.controls.stream.hasError('required')"
                                    class="invalid-feedback"><br>
                                    *Required
                                </mat-error> -->
                            </div>
                        </div>

                        <!-- Subject Name  -->

                        <div class="col-md-6 mb-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" [(ngModel)]="subjectName" name="subjectName" [ngClass]="{ 'is-invalid': submitted && f.controls.subjectName.errors }" >
                                <label for="floatingInput">Subject Name</label>
                                <div *ngIf="submitted && f.controls.subjectName.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f.controls.subjectName.errors.required">*Required</div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <!-- Button -->
                    <div class="col">
                        <div class="text-center">
                            <div class="mt-4 pt-2">
                                <input class="loginbtn btn" type="submit" value="Create Subject">

                                
                            </div>
                        </div>

                        <br>
                    </div>

                </form>
                <!-- </div> -->
                <!-- </div> -->
            </div>

        </div>

    </div>
</section>