h1 {
  text-align: center;
  }
.header {  
    margin-top: 100px;
    text-align: center;
    margin-bottom: 40px;
  }
.container {  
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;    
}
.button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .close-button{
    float: right;
    top:-24px;
    right:-24px;
    background-color: transparent;
    border-color: transparent;
  }

  .save-button {
    background-color: #2C45A7;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .btn-success {
    background-color: #2C45A7;

  }
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  // .mat-form-field{ width:100%;}
.mat-input-field{
  width: 100% !important;
}
  .form-field-width{
    width: 100%;
  }

  ::ng-deep .mat-form-field-infix {
    width: auto !important;
}