<button  mat-icon-button class="close-button" [mat-dialog-close] = "true" s onclick="onClose()">
  <mat-icon class="close-icon" color="warn">close</mat-icon></button>
<h1 mat-dialog-title><b>{{labels.pageTitle}}</b></h1>
<mat-dialog-content>


  <div *ngIf="!isSubmitted" class = "container">
  <form [formGroup]="addQuestionForm" class="normal-form" autocomplete="off">

    <mat-form-field>
      <mat-label>{{labels.questionType}}</mat-label>
        <mat-select  formControlName = "questionType" (selectionChange)="onQuestionTypeChange()" required>
          <ng-container  *ngFor = "let type of questionTypes" > 
            <mat-option [value]="type.value" >{{type.viewValue}}</mat-option>
          </ng-container>
        </mat-select>
          <div *ngIf="addQuestionForm.get('addQuestionForm')?.errors?.['required']">Question Type is required.</div>
     </mat-form-field>


    <div class="form-element">
      <mat-label><strong>{{labels.questionTitle}}</strong></mat-label>
      <angular-editor formControlName = "questionText" placeholder = "{{placeholders.questionTextPlaceholder}}" [config] = "editorConfig"></angular-editor>
      <div *ngIf ="addQuestionForm.get('questionText')?.hasError('!initialHtmlPattern')">
        The input text is required
      </div>
    </div>
    
   
    <br>
    
    <div *ngIf = "isSingleAnswerType">
      <div class="form-element">
        <mat-label><strong>{{labels.answerTitle}}</strong></mat-label>
          <angular-editor formControlName = "answer"  placeholder = "{{placeholders.answerTextPlaceholder}}" [config] = "editorConfig" label = "Answer"></angular-editor>
          <div *ngIf ="addQuestionForm.get('answer')?.hasError('!initialHtmlPattern')">
            The answer text is required
          </div>
      </div>
    </div>

    <br>

    <ng-template [ngIf]="isMultipleChoiceType">
      <button class="btn btn-success px-2" (click)="addNewMCQOption()">{{labels.mcqTitle}}</button>
      <ng-container *ngIf="hasMultipleChoice[0]">
        <div formArrayName="mcqOptions">
          <ng-container *ngFor="let optionCtrl of mcqOptions.controls; let i = index" [formGroupName]="i">
          <mat-radio-group
          aria-label = "Write options for MCQ"
          name="MCQOption"
          (change)="radioButtonChange($event,i)">
              <mat-radio-button
              [aria-label] = "optionCtrl.get('optionText')?.value"
              value="Option - {{i+1}}">
              <mat-form-field >
                <input 
                type="text" 
                (click)="handleMCQFieldChange(i)"
                matInput placeholder="{{placeholders.mcqOptionPlaceholder}}" 
                formControlName="optionText">
              </mat-form-field>
              <mat-icon (click) = removeMCQOption(i) aria-hidden = "true">highlight_off</mat-icon>
              </mat-radio-button>
          </mat-radio-group>
          </ng-container>
        </div>
       <!-- <br>
       <strong>
         Correct Answer:
       </strong>
       <pre>{{this.mcqOptions.value | json}}</pre> -->

        <br> 
      </ng-container>
    </ng-template>
            
    <ng-template [ngIf] = "isMultipleSelectType">
      <button class="btn btn-success px-2" (click)="addNewMSQOption()">{{labels.msqTitle}}</button>
      <ng-container *ngIf="hasMultipleChoice[1]">
        <div formArrayName="msqOptions">
          <div *ngFor="let optionCtrl of msqOptions.controls; let i = index" [formGroupName]="i">
            <mat-form-field (click) = "handleMSQCheckboxChange(i)">
              <input matInput placeholder="{{placeholders.mcqOptionPlaceholder}}" formControlName="optionText">
            </mat-form-field>
            <mat-checkbox  (change)="handleMSQCheckboxChange(i)" formControlName="isAnswer">
              <mat-icon (click) = removeMSQOption(i)>highlight_off</mat-icon>
            </mat-checkbox>
          </div>
        </div>
       <!-- <br>
        Correct Answer: <pre>{{this.msqOptions.value | json}}</pre>
        <br>  -->
      </ng-container>

    </ng-template>

    <br>

    <ng-template [ngIf] = "isSingleAnswerType || isMultipleChoiceType || isMultipleSelectType">
          
      <div class="form-element">
        <mat-label><strong>{{labels.answerExplanationLabel}}</strong></mat-label>
        <angular-editor formControlName = "answerExplanation" placeholder = "{{placeholders.answerExplanationPlaceholder}}"  [config] = "editorConfig"></angular-editor>
      </div>  
      <div *ngIf ="addQuestionForm.get('answerExplanation')?.hasError('!initialHtmlPattern')">
        The Answer Explanation is required
      </div>
    </ng-template>

    <br>

  </form>
  </div>

  <ng-template *ngIf = "isSubmitted" class = "container" >
    <app-preview-question 
    [questionBody] = "this.newQuestion" 
    [quizId]="this.quizId" 
    (saveQuestion) = "onSaveConfirmation($event)">
    </app-preview-question>
  </ng-template>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="col">
    <div class="text-center">
      <div class="mt-4 pt-2">
        <input *ngIf = "!isSubmitted"class="save-button btn" value="Preview" (click)="onSubmit()">
      </div>
      <div *ngIf = "isSubmitted">
        <input  class="save-button btn" value="Back"  (click)="onBack()">
        <input  class="save-button btn" value = "Save" (click)="onSave()">
      </div>
    </div>
  </div>
</mat-dialog-actions>