
.loginbtn {
    background-color: #2C45A7; /* Green */
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }
  
  .form-control{
    width: 300px;
  }

  .row{
    width: 1000px;
  }
  
  .form-control-input{
    padding: 15px 18px;
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    outline-color: #2C45A7;
    border: none;
    box-shadow: 0px 2px 6px #ddd;
  }