<div class="">
<div id="top-bar">
   <div class="path">
    <a href="" routerLink="/home/courses" class="anchor-tag">COURSES</a>
    &#10095;
    <a href="" routerLink="/home/courses/mode_edit" class="anchor-tag">EDIT</a>
   </div> 
<div class="div-row-flex">
   <div>
    <button class="btn-course" (click)="addChapter()"> + Chapter </button>
   </div>
   <div class="save-button" *ngIf="isSaving">
    <mat-progress-spinner [diameter]="20" [color]=""  [mode]="'indeterminate'"></mat-progress-spinner> &nbsp;
    <i>Saving Changes..</i>
   </div>
   <div *ngIf="!isSaving">

    <i>Saved Changes.</i>
   </div>
   &nbsp;
<!-- <button class="btn-course" (click)="saveChapter()"> Save </button> -->
</div>
</div>
<!-- <div class="div-row-flex">
    <div>
        <label for="">Course Name</label>
        <h2>Course name</h2>
    </div>
    
    <select name="" id="">
        <option value="">Stream Name</option>
    </select>
    <select name="" id="">
        <option value="">Subject Name</option>
    </select>
    <select name="" id="">
        <option value="">Topic Name</option>
    </select>
</div> -->

<div style="margin: 10px;">
   <h1 >{{updateData?.courseName}}</h1>
   <h4 >{{updateData?.topicName}}</h4>
</div>

<div id="chapter-list" #chapterlist>

    

<app-chapter [data]="chapterList" (dataChangeEvent)="dataChanged($event)">
    
</app-chapter>

</div>


</div>