<h2>Create Topic</h2><br>
<section class="vh-100 gradient-custom">

    <div class="container">

        <div class="row justify-content-center align-items-center ">

            <div class="col">                

                <form [formGroup]="createTopicForm">
                    <p class="required1"><small> Indicates a required field</small></p>
                    <!-- Select Stream Name  -->

                    <div class="row">

                        <div class="col">   
                            <label class="required">Select Stream</label>                         
                            <select formControlName="streamName" class="form-control-input" placeholder="stream"
                            (change)="getSubjectList()"
                                [ngClass]="{ 'is-invalid': submitted && createTopicForm.controls.streamName.errors }">
                                <option value="" selected>Select</option>
                                <option *ngFor="let item of streamList" [ngValue]=item>{{item.streamName}}</option>
                            </select>
                           
                            <div *ngIf="submitted && createTopicForm.controls.streamName.errors"
                                class="invalid-feedback"><br>
                                <div *ngIf="createTopicForm.controls.streamName.errors.required">Stream Name is required.</div>
                            </div>                           
                        </div>

                        <!-- Subject Name  -->

                        <div class="col">
                            <label class="required">Select Subject</label>                            
                            <select formControlName="subjectName" class="form-control-input" placeholder="subject"
                                
                                [ngClass]="{ 'is-invalid': submitted && createTopicForm.controls.subjectName.errors }">
                                <option value="" selected>Select</option>
                                <option *ngFor="let item of FilteredsubjectList" [ngValue]=item>{{item.subjectName}}
                                </option>
                            </select>
                            
                            <div *ngIf="submitted && createTopicForm.controls.subjectName.errors"
                                class="invalid-feedback"><br>                                
                                <div *ngIf="FilteredsubjectList.length == 0">Please select a stream.</div>
                            </div>                            
                    </div>


                        <div class="col">
                                <label class="required">Topic Name</label>
                                <input type="text" class="form-control-input" formControlName="topicName" placeholder="Topic Name"
                                [ngClass]="{ 'is-invalid': submitted && createTopicForm.controls.topicName.errors }">

                                <div *ngIf="submitted && createTopicForm.controls.topicName.errors"
                                    class="invalid-feedback"><br>
                                    <div *ngIf="createTopicForm.controls.topicName.errors.required">Topic name is required.</div>
                                </div>
                            
                        </div>


                    </div><br><br>


                    <!-- Button -->
                    <div class="row">
                        <input type="submit" value="Submit" class="btn-submit" (click)="onSubmit()">
                    </div>

                </form>
                <!-- </div> -->
                <!-- </div> -->
            </div>

        </div>

    </div>
</section>