<form [formGroup]="csvTableForm" class="formCenter">
  <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" formArrayName="rows">
    <!-- <div *ngFor="let row of rows.controls; let i = index" [formGroupName]="i"> -->



    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element,index as i" [formGroupName]="i">
        <mat-form-field floatLabel="never">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName" required>
          <mat-error *ngIf="csvTableForm.value.firstName">*Required</mat-error>
        </mat-form-field>
      </td>
    </ng-container>


    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element,index as i" [formGroupName]="i">
        <mat-form-field floatLabel="never">
          <input matInput placeholder="Last Name" formControlName = "lastName" required>
        </mat-form-field>
      </td>
    </ng-container>



    <ng-container matColumnDef="streamAcronym">
      <th mat-header-cell *matHeaderCellDef> Stream</th>
      <td mat-cell *matCellDef="let element,index as i" [formGroupName]="i">
        <mat-form-field floatLabel="never">
          <input matInput placeholder="Stream" formControlName = "stream" required>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let element,index as i" [formGroupName]="i">
        <mat-form-field floatLabel="never">
          <input matInput placeholder="Email" formControlName = "email" required>
        </mat-form-field>
      </td>
    </ng-container>
    

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let element,index as i" [formGroupName]="i">
        <mat-form-field floatLabel="never">
          <input matInput placeholder="Phone Number" formControlName = "phoneNumber" required>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element,index as i">
        <mat-icon type="button" (click)="onRemoveRow(i)">highlight_off</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- </div> -->
  </table>
</form>
<div class="button-row">
  <button type="button" (click)="addNewRow()" class="btn btn-primary float-right">Add Row</button>
  <button type="button" (click)="submitForm()" class="btn btn-primary float-right">Submit</button>
</div>
