.ng-invalid:not(form):not([csvTableForm]) {
    border:  2px solid red;
  }
  table{
    width: 100%;
  }
  .button-row {
    display: flex;
    
    justify-content: center;
    align-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  
  // td {
  //   min-width: 130px;
  //   margin: 5px !important;
  // }
  // .ng-invalid:not(form):not([csvTableForm]) {
  //   border:  1px solid red;
  // }
  .mat-header-cell {
    min-width: 70px;
    color: #000;
    max-width: max-content;
  }
  
  
  .mat-elevation-z8 {
    overflow-x: scroll !important;
    width: 100%;
  }
  
  table {
    width: 150%;
    overflow-x: hidden !important;
  }
  
  
  //search bar
  .example-header {
  padding-top: 0px;
  float: right;
  
  }
  .mat-table {
    overflow-x: hidden !important; 
  }
  
  // td {
  //   min-width: 130px;
  //   margin: 5px !important;
  // }
  .mat-spinner{
    ::ng-deep circle {
      stroke: #2C45A7;
  }
  }
  .btn-success{
    background-color: #2C45A7;
   
    text-align: left;
    justify-content: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    
  }
  

  

  
  .formCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }