.ng-invalid:not(form):not([csvTableForm]) {
    border:  2px solid red;
  }
  table{
    width: 100%;
  }
  .button-row {
    display: flex;
    
    justify-content: center;
    align-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  
  .btn {
    background-color: #2C45A7; 
    border: none;
    color: white;
   
    text-align: left;
    justify-content: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    
  }
  

  