<div style="margin: 10px;">
    <div class="row">
        <div class="col">
            <div class="con">
                <div class="row">
                    <h4><i class="fas fa-box" ></i>&nbsp;Course in Progress</h4>
                </div>
    
                <div class="row">
                    <h1><b>19</b></h1>
                    <mat-progress-bar [value]="19"></mat-progress-bar>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="con">
                <div class="row">
                    <h4><i class="fas fa-box" ></i>&nbsp;Course Completed</h4>
                </div>
    
                <div class="row">
                    <h1><b>96</b></h1>
                    <mat-progress-bar [value]="89"></mat-progress-bar>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="con">
                <div class="row">
                    <h4><i class="fas fa-box" ></i>&nbsp;Remaning Courses</h4>
                </div>
    
                <div class="row">
                    <h1><b>22</b></h1>
                    <mat-progress-bar [value]="89"></mat-progress-bar>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="con">
    
            </div>
        </div>
    
    </div>
    
    <div class="row">
       <div class="col">
<h2>Course You're Taking</h2>
        <div class="course-con">
            <div class="con-1">

            </div>

            <div >
                <h4 class="h4-style">Stream Name</h4>
                <h2>Course Name</h2>
                <h4>40 Chapters | 84 hours</h4>
                <button class="btn">Resume</button>
            </div>
        </div>


       </div>

       <div class="col">

       </div>
        
    </div>
    
</div>