<div>
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
</div>
<br>
&nbsp;
<title>Add Quiz</title>
<section class="gradient-custom">
    <div class="container" focusInvalidField>

        <div class="row justify-content-center align-items-center ">
            <div class="col">

                <form [formGroup]="createQuizForm">
                    <div class="row">

                        <div class="col">
                            <h2>Create Quiz</h2><br>
                            <p class="required1"><small> Indicates a required field</small></p>
                        </div>
                    </div>
                    <!-- Stream Name  -->

                    <div class="row">
                        <div class="col">   
                                <label for="selectStream" class="required">Select Stream</label>                         
                                <select formControlName="stream" id="selectStream" class="form-control-input" placeholder="stream"
                                    (change)="getSubjectList()">
                                    <option value="" selected>Select</option>
                                    <option *ngFor="let item of streamList | customeArraySort:'streamName`' " [ngValue]=item>{{item.streamName}}</option>
                                </select>
                               
                                <span class="red"
                                *ngIf="(submitted || createQuizForm.controls.stream.touched) && createQuizForm.controls.stream.errors?.required">Stream
                            Name is required.</span>                            
                        </div>

                        <div class="col">
                                <label for="selectSubject" class="required">Select Subject</label>                            
                                <select formControlName="subject" id="selectSubject" class="form-control-input" placeholder="subject"
                                    (change)="getTopicList()">
                                    <option value="" selected>Select</option>
                                    <option *ngFor="let item of FilteredsubjectList | customeArraySort:'subjectName' " [ngValue]=item>{{item.subjectName}}
                                    </option>
                                </select>
                                
                                <span class="red"
                                *ngIf="(submitted || createQuizForm.controls.subject.touched) && createQuizForm.controls.subject.errors?.required">Subject
                            Name is required.</span>                           
                        </div>

                        <div class="col">
                                <label for="selectTopic" class="required">Select Topic</label>
                                <select formControlName="topic" id="selectTopic" class="form-control-input" placeholder="topic">
                                    <option value="" selected>Select</option>
                                    <option *ngFor="let item of FilteredtopicList | customeArraySort:'topicName' " [ngValue]=item>{{item.topicName}}
                                    </option>
                                </select>
                                
                                <span class="red"
                                *ngIf="(submitted || createQuizForm.controls.topic.touched) && createQuizForm.controls.topic.errors?.required">Topic
                            Name is required.</span>  
                            
                        </div>
                    </div><br><br>

                    <div class="row">
                        <div class="col">
                                <label for="quizName" class="required">Quiz Name</label>
                                <input type="text" id="quizName" class="form-control-input" formControlName="quizName"
                                    placeholder="quizName">
                                
                                <span class="red"
                                    *ngIf="(submitted || createQuizForm.controls.quizName.touched) && createQuizForm.controls.quizName.errors?.required">Quiz
                                Name is required.</span> 
                            
                        </div>

                        <div class="col">
                                <label for="minimumQuestionNumber" class="required">Min No.of Question</label>
                                <input id="minimumQuestionNumber" type="number" class="form-control-input"
                                    onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                                    formControlName="passCriteria" placeholder="passCriteria" min="1">
                                    <span class="red"
                                    *ngIf="(submitted || createQuizForm.controls.passCriteria.touched) && createQuizForm.controls.passCriteria.errors?.required">Quiz
                                Name is required.</span> 
                           
                        </div>

                        <div class="col">
                            <input id="allowRetake" type="checkbox" aria-label="Allow Retake" tabindex="0" formControlName="allowRetake" class="form-check-input"
                                (click)="checkerChange($event)">
                            <label for="allowRetake" >Allow Retake</label>

                        </div>
                    </div><br><br>



                    <!-- Button -->

                    <div class="row1">
                        <input type="submit" value="Submit" class="light-btn" (click)="onSubmit()">&nbsp;
                        <input type="button" value="Cancel" class="light-btn" (click)="cancelDetails()">
                    </div>
                    

                </form>
                <!-- </div> -->
                <!-- </div> -->
            </div>

        </div>

    </div>
</section>