<div>
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
</div>
<br>
&nbsp;
<title>Add Quiz</title>
<section class="vh-100 gradient-custom">
    <div class="container">

        <div class="row justify-content-center align-items-center ">
            <div class="col">

                <form [formGroup]="createQuizForm">
                    <div class="row">

                        <div class="col">
                            <h2>Create Quiz</h2><br>
                        </div>
                    </div>
                    <!-- Stream Name  -->

                    <div class="row">
                        <div class="col">   
                                <label for="floatingInput">Select Stream</label>                         
                                <select formControlName="stream" class="form-control-input" placeholder="stream"
                                    (change)="getSubjectList()"
                                    [ngClass]="{ 'is-invalid': submitted && createQuizForm.controls.stream.errors }">
                                    <option value="" selected>Select</option>
                                    <option *ngFor="let item of streamList" [ngValue]=item>{{item.streamName}}</option>
                                </select>
                               
                                <div *ngIf="submitted && createQuizForm.controls.stream.errors"
                                    class="invalid-feedback"><br>
                                    <div *ngIf="createQuizForm.controls.stream.errors.required">*Required</div>
                                </div>                           
                        </div>

                        <div class="col">
                                <label for="floatingInput">Select Subject</label>                            
                                <select formControlName="subject" class="form-control-input" placeholder="subject"
                                    (change)="getTopicList()"
                                    [ngClass]="{ 'is-invalid': submitted && createQuizForm.controls.subject.errors }">
                                    <option value="" selected>Select</option>
                                    <option *ngFor="let item of FilteredsubjectList" [ngValue]=item>{{item.subjectName}}
                                    </option>
                                </select>
                                
                                <div *ngIf="submitted && createQuizForm.controls.subject.errors"
                                    class="invalid-feedback"><br>
                                    <!-- <div *ngIf="createQuizForm.controls.subject.errors.required">*Required</div> -->
                                    <div *ngIf="FilteredsubjectList.length == 0">*Select Stream</div>
                                </div>                            
                        </div>

                        <div class="col">
                                <label for="floatingInput">Select Topic</label>
                                <select formControlName="topic" class="form-control-input" placeholder="topic"
                                    [ngClass]="{ 'is-invalid': submitted && createQuizForm.controls.topic.errors }">
                                    <option value="" selected>Select</option>
                                    <option *ngFor="let item of FilteredtopicList" [ngValue]=item>{{item.topicName}}
                                    </option>
                                </select>
                                
                                <div *ngIf="submitted && createQuizForm.controls.topic.errors" class="invalid-feedback"><br>
                                    <!-- <div *ngIf="createQuizForm.controls.topic.errors.required">*Required</div> -->
                                    <div *ngIf="FilteredtopicList.length == 0">*Select Subject</div>
                                </div>
                            
                        </div>
                    </div><br><br>

                    <div class="row">
                        <div class="col">
                                <label for="floatingInput">Quiz Name</label>
                                <input type="text" class="form-control-input" formControlName="quizName"
                                    placeholder="quizName"
                                    [ngClass]="{ 'is-invalid': submitted && createQuizForm.controls.quizName.errors }"
                                    >
                                
                                <div *ngIf="submitted && createQuizForm.controls.quizName.errors"
                                    class="invalid-feedback"><br>
                                    <div *ngIf="createQuizForm.controls.quizName.errors.required">*Required</div><br>
                                    <!-- <div id="invalidSubjectName"
                                        *ngIf="createQuizForm.controls.quizName.errors.pattern">Invalid</div> -->
                                </div>
                            
                        </div>

                        <div class="col">
                                <label for="floatingInput">Min No.of Question</label>
                                <input type="number" class="form-control-input"
                                    onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                                    formControlName="passCriteria" placeholder="passCriteria" min="1"
                                    [ngClass]="{ 'is-invalid': submitted && createQuizForm.controls.passCriteria.errors }">
                                <div *ngIf="submitted && createQuizForm.controls.passCriteria.errors"
                                    class="invalid-feedback"><br>
                                    <div *ngIf="createQuizForm.controls.passCriteria.errors.required">*Required</div><br>
                                    <div *ngIf="createQuizForm.controls.passCriteria.errors.min">Invalid</div>

                                </div>
                           
                        </div>

                        <div class="col">
                            <input type="checkbox" formControlName="allowRetake" class="form-check-input"
                                (click)="checkerChange($event)">
                            <label>Allow Retake</label>

                        </div>
                    </div><br><br>



                    <!-- Button -->

                    <div class="row">
                        <input type="submit" value="Submit" class="btn-submit" (click)="onSubmit()">
                    </div>
                    

                </form>
                <!-- </div> -->
                <!-- </div> -->
            </div>

        </div>

    </div>
</section>