<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

&nbsp;
<h2>Update Subject</h2><br>
<form (ngSubmit)="UpdateSubjectDetails()" #subjectEditForm="ngForm" focusInvalidField>
  <p class="required1"><small> Indicates a required field</small></p>
<div class="form-group">
  <label for="stage" class="required"><b>Stream:</b></label>
  <select [(ngModel)]="UpdatedStream" class="form-control"  (ngModelChange)="valuechange($event)"  id="streamDrop" name="streamDrop" #streamDrop="ngModel" required>
    <option value="" selected>Select</option>
    <option *ngFor="let item of streamList | customeArraySort:'streamName' " value="{{EditSubject.stream}}" (ngModelChange)="valuechange($event)">
      {{item.streamName}}</option>
  </select>
  <div [hidden]="streamDrop.valid || streamDrop.pristine"
  class="error" role="alert" >
          Stream Name is required
        </div>
</div><br>
<div class="form-group">
  <label for="title" class="required"><b>Subject Name</b></label>
  <input type="text" [(ngModel)]="UpdatedsubjectName" value="{{EditSubject.subjectName}}" (ngModelChange)="valuechange($event)" class="form-control"  id="subjectname" name="subjectname" #subjectname="ngModel" pattern="^([^0-9]*)$" required>
  
        <div *ngIf="subjectEditForm.controls?.subjectname?.errors?.required" class="error">Subject Name is required</div>
        <div *ngIf="subjectEditForm.controls?.subjectname?.errors?.pattern" class="error">Subject Name is invalid</div>
</div><br><br>

<!-- <div class="form-group">
    <label for="title"><b>Price:</b></label>
    <input type="text" [(ngModel)]="UpdatedsubjectStatus" value="{{EditSubject.stream.price}}" class="form-control">
  </div><br><br> -->

<div *ngIf="isAlert" class="alert alert-success">
  Updated Successfully!
</div>
<div class="center">
  <!-- <input type="submit" value="Submit" class="light-btn" [disabled]="subjectEditForm.controls.subjectname.errors?.pattern || streamBtn"> -->
  <input type="submit" value="Submit" class="light-btn">&nbsp;
  <input type="button" value="Cancel" class="light-btn" (click)="cancelDetails()">
</div>
</form>