<h2>Create Subject</h2><br>
<section class="vh-100 gradient-custom">

    <div class="container">

        <div class="row justify-content-center align-items-center ">

            <div class="col">
                <!-- <div class="card shadow-2-strong card-registration" style="border-radius: 10px;">
                    <div class="card-body"> -->
                       
                <form [formGroup]="createSubjectForm" (ngSubmit)="onSubmit()">
                    
                    <!-- Stream Name  -->

                    <div class="row">

                        <div class="col">
                                <label>Stream Name</label>
                                <select formControlName="stream" class="form-control-input"placeholder="stream" 
                                [ngClass]="{ 'is-invalid': submitted && createSubjectForm.controls.stream.errors }">
                                    <option value="" selected>Select</option>
                                    <option *ngFor="let item of streamList" [ngValue]=item>{{item.streamName}}</option>
                                </select>
                                
                                <div *ngIf="submitted && createSubjectForm.controls.stream.errors" class="invalid-feedback"><br>
                                    <div *ngIf="createSubjectForm.controls.stream.errors.required">*Required</div>
                                </div>
                            
                        </div>

                        <!-- Subject Name  -->

                        <div class="col">
                                <label >Subject Name</label>
                                <input type="text" class="form-control-input" formControlName="subjectName" placeholder="subjectName"
                                [ngClass]="{ 'is-invalid': submitted && createSubjectForm.controls.subjectName.errors }" pattern="[a-zA-Z][a-zA-Z ]+">
                                
                                <div *ngIf="submitted && createSubjectForm.controls.subjectName.errors"
                                    class="invalid-feedback"><br>
                                    <div *ngIf="createSubjectForm.controls.subjectName.errors.required">*Required</div>
                                    <div id="invalidSubjectName" *ngIf="createSubjectForm.controls.subjectName.errors.pattern">Invalid</div>
                                </div>                            
                        </div>
                    </div><br><br>


                    <!-- Button -->

                    <div class="row">
                        <input type="submit" value="Submit" class="btn-submit">
                    </div>
                   

                </form>
                <!-- </div> -->
                <!-- </div> -->
            </div>

        </div>

    </div>
</section>