<h2>Create Subject</h2><br>
<section class="vh-100 gradient-custom">

    <div class="container">

        <div class="row justify-content-center align-items-center ">

            <div class="col">
                
                       
                <form [formGroup]="createSubjectForm" (ngSubmit)="onSubmit()">
                    <p class="required1"><small> Indicates a required field</small></p>
                    <!-- Stream Name  -->

                    <div class="row">

                        <div class="col">
                                <label class="required">Stream Name</label>
                                <select formControlName="stream" class="form-control-input"placeholder="stream" 
                                [ngClass]="{ 'is-invalid': submitted && createSubjectForm.controls.stream.errors }">
                                <option *ngFor="let item of streamList | customeArraySort:'streamName' " [ngValue]=item>{{item.streamName}}</option>
                                <option value="" selected>Select</option>
                                </select>
                                
                                <div *ngIf="submitted && createSubjectForm.controls.stream.errors" class="invalid-feedback"><br>
                                    <div *ngIf="createSubjectForm.controls.stream.errors.required">Stream Name is required.</div>
                                </div>
                            
                        </div>

                        <!-- Subject Name  -->

                        <div class="col">
                                <label class="required">Subject Name</label>
                                <input type="text" class="form-control-input" formControlName="subjectName" placeholder="Subject Name"
                                [ngClass]="{ 'is-invalid': submitted && createSubjectForm.controls.subjectName.errors }" pattern="[a-zA-Z][a-zA-Z ]+">
                                
                                <div *ngIf="submitted && createSubjectForm.controls.subjectName.errors"
                                    class="invalid-feedback"><br>
                                    <div *ngIf="createSubjectForm.controls.subjectName.errors.required">Subject Name is required.</div>
                                    <div id="invalidSubjectName" *ngIf="createSubjectForm.controls.subjectName.errors.pattern">Invalid.</div>
                                </div>                            
                        </div>
                    </div><br><br>


                    <!-- Button -->

                    <div class="row">
                        <input type="submit" value="Submit" class="btn-submit">
                    </div>
                   

                </form>
                <!-- </div> -->
                <!-- </div> -->
            </div>

        </div>

    </div>
</section>