<h2>Create Stream</h2><br>
<section class="vh-100 gradient-custom">

    <div class="container" focusInvalidField>

        <div class="row justify-content-center align-items-center ">

            <div class="col">                

                <form [formGroup]="createStreamForm" >
                    <p class="required1"><small> Indicates a required field</small></p>

                    <!-- Stream Name  -->

                    <div class="row">
                        <div class="col">
                            <label for="streamName" class="required">Stream Name</label>
                            <input type="text" id="streamName" class="form-control-input" formControlName="streamName"
                                placeholder="Stream Name">
                            <span class="red"
                                *ngIf="(submitted || createStreamForm.controls.streamName.touched) && createStreamForm.controls.streamName.errors?.required">Stream
                            Name is required.</span>  
                            <span class="red"
                                *ngIf="(submitted || createStreamForm.controls.streamName.touched) && createStreamForm.controls.streamName.errors?.pattern">Stream
                                Name is invalid.</span>  

                            
                        </div>

                        <!-- acronym  -->

                        <div class="col">
                            <label for="Acronymn" class="required">Acronym</label>
                            <input type="text" id="Acronymn" class="form-control-input" formControlName="acronym"
                                placeholder="Acronym">
                            <span class="red"
                                *ngIf="(submitted || createStreamForm.controls.acronym.touched) && createStreamForm.controls.acronym.errors?.required">Acronym is required.</span>
                            <span class="red"
                                *ngIf="(submitted || createStreamForm.controls.acronym.touched) && createStreamForm.controls.acronym.errors?.pattern">Acronym
                                is invalid.</span>        
                        </div>
                    </div>

                    <br><br>

                    <!-- price -->
                    <div class="row">
                        <div class="col">
                            <label for="Price" class="required">Price ₹</label>
                            <input id="Price" type="number" class="form-control-input" formControlName="price"
                                min="0" placeholder="Price"><br>
                            <span class="red"
                                *ngIf="(submitted || createStreamForm.controls.price.touched) && createStreamForm.controls.price.errors?.required">Price is required.</span>
                            <span class="red"
                                *ngIf="(submitted || createStreamForm.controls.price.touched) && createStreamForm.controls.price.errors?.min">Value must be atleast 0.
                            </span>        

                            

                        </div>
                        <!-- Discount -->

                        <div class="col">
                            <label for="Discount" class="required">Discount %</label>
                            <input id="Discount" type="number" min="0" max="100" class="form-control-input"
                                formControlName="discount" placeholder="Discount" min=0 max=100><br>
                            <span class="red"
                                *ngIf="(submitted || createStreamForm.controls.discount.touched) && createStreamForm.controls.discount.errors?.required">Discount is required.</span>
                            <span class="red"
                                *ngIf="(submitted || createStreamForm.controls.discount.touched) && createStreamForm.controls.discount.errors?.min || createStreamForm.controls.discount.errors?.max">Value must be between 0 and 100.
                            </span>        


                        </div>
                    </div>



                    <!-- Button -->

                    <br><br>
                    <div class="row1">
                        <input type="submit" value="Submit" class="light-btn" (click)="onSubmit()">&nbsp;
                        <input type="submit" value="Cancel" class="light-btn" (click)="cancelDetails()">
                    </div>



                </form>
                <!-- </div> -->
                <!-- </div> -->
            </div>

        </div>

    </div>
</section>