
  .form-control{
    width: 300px;
    
  }

  .row{
    width: 700px;
    border-color: #2C45A7;
  }
  .row1{
    width: 700px;
    border-color: #2C45A7;
    margin: auto;
    text-align: center;  
    
  }
  .form-control-input{
    padding: 10px 12px;
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    outline-color: #2C45A7;
    border: none;
    box-shadow: 0px 2px 6px #ddd;
}
.btn-submit{
  padding: 10px 15px;
  background-color: #2C45A7;
  border: none;
  box-shadow: 0px 2px 3px #ddd;
  width: fit-content;
  color: #fff;
  margin: auto;
  border-radius: 5px;
}



.Intialrequired{
  color: red;
}

.required:after {
  content:" *";
  color: red;
}
.invalid-feedback{
  color: red;
  font-size: 12px;
}
.required1::before {
  content:" *";
  color: red;
}