<h2>Create User</h2>
<section class="vh-100 gradient-custom">
    <div class="container" focusInvalidField>

        <div class="row justify-content-center align-items-center ">

            <div class="col">
                <form [formGroup]="userForm">
                    <br>
                    <p class="required1"><small> Indicates a required field</small></p>
                    <div class="row">
                        <div class="col">

                            <label for="firstName" class="required">First Name</label>
                            <input type="text" id="firstName" class="form-control-input" name="firstName"
                                aria-required="true" autocomplete="off" placeholder="First Name"
                                formControlName="firstName" aria-label="First Name"><br>
                            <span class="red"
                                *ngIf="(submitted || userForm.controls.firstName.touched) && userForm.controls.firstName.errors?.required">First
                                Name is required.</span>
                            <span class="red"
                                *ngIf="(submitted || userForm.controls.firstName.touched) && userForm.controls.firstName.errors?.pattern">First
                                Name is invalid.</span>

                        </div>
                        <div class="col">
                            <label for="lastName" class="required">Last Name</label>
                            <input type="text" id="lastName" class="form-control-input" name="lastName"
                                aria-required="true" autocomplete="off" placeholder="Last Name"
                                formControlName="lastName" aria-label="Last Name"><br>
                            <span class="red"
                                *ngIf="(submitted || userForm.controls.lastName.touched) && userForm.controls.lastName.errors?.required">Last
                                Name is required.</span>
                            <span class="red"
                                *ngIf="(submitted || userForm.controls.lastName.touched) && userForm.controls.lastName.errors?.pattern">Last
                                Name is invalid.</span>

                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="userType" class="required">User Type</label>
                            <select class="form-control-input" id="userType" name="userType" formControlName="userType"
                                aria-label="User Type" aria-required="true" autocomplete="off">
                                <option value="" selected>Select</option>
                                <option *ngFor="let enum of userTypes | keyvalue" value={{enum.value}}>{{enum.key}}
                                </option>

                            </select><br>
                            <span class="red"
                                *ngIf="(submitted || userForm.controls.userType.touched) && userForm.controls.userType.errors?.required">User
                                Type is required.</span>


                        </div>
                        <div class="col">
                            <label for="stream" class="required">Stream</label>
                            <select name="stream" id="stream" class="form-control-input" formControlName="stream"
                                aria-label="Stream" aria-required="true" autocomplete="off">
                                <option value="" selected> Select </option>
                                <option *ngFor="let e of streamList | customeArraySort:'streamName'" [ngValue]="e">
                                    {{e.streamName}}</option>
                            </select><br>
                            <span class="red"
                                *ngIf="(submitted || userForm.controls.stream.touched) && userForm.controls.stream.errors?.required">Stream
                                is required.</span>

                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col">
                            <label for="email" class="required">Email</label>
                            <input type="email" id="email" class="form-control-input" name="email" placeholder="Email"
                                aria-required="true" autocomplete="off" formControlName="email"
                                aria-label="Email Id"><br>
                            <span class="red"
                                *ngIf="(submitted || userForm.controls.email.touched) && userForm.controls.email.errors?.required">Email
                                is required.</span>
                            <span class="red"
                                *ngIf="(submitted || userForm.controls.email.touched) && userForm.controls.email.errors?.email">Please
                                enter a valid email.</span>

                        </div>
                        <div class="col">
                            <label for="phoneNumber" class="required">Phone Number</label>
                            <input type="number" class="form-control-input" id="phoneNumber" name="phoneNumber"
                                aria-required="true" autocomplete="off" placeholder="Phone Number"
                                formControlName="phoneNumber" aria-label="Phone Number"><br>

                            <span class="red"
                                *ngIf="(submitted || userForm.controls.phoneNumber.touched) && userForm.controls.phoneNumber.errors?.required">Phone
                                Number is required.</span>
                            <span class="red"
                                *ngIf="(submitted || userForm.controls.phoneNumber.touched) && userForm.controls.phoneNumber.errors?.pattern">Please
                                enter a valid mobile number.</span>


                        </div>
                    </div>
                    
                    <br>
                    <div class="row1">
                        <input type="submit" value="Submit" class="light-btn" (click)="createUser()">&nbsp;
                        <input type="button" value="Cancel" class="light-btn" (click)="cancelDetails()">
                    </div>

                </form>
            </div>

        </div>

    </div>
</section>