
<form [formGroup]="resetForm">
  
  <div class="container">
    <h2>Reset Password</h2>
    <div class="did-floating-label-content">
      <input class="did-floating-input" type="text" placeholder=" ">
      <label class="did-floating-label">lavanya@gmail.com</label>
    </div>
    
    <div class="did-floating-label-content">
      <span class="ab">
        <i class="fa" [ngClass]="{
                  'fa-eye-slash': !fieldTextType,
                  'fa-eye': fieldTextType
                }" (click)="toggleFieldTextType()"></i>
      </span>
      <input class="did-floating-input" [type]="fieldTextType ? 'text' : 'password'" placeholder=" " [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
      <label class="did-floating-label">New Password</label>
      <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
        <div *ngIf="f.newPassword.errors.required">*Required</div>
        <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched">Password must have atleast
            8
            characters with one uppercase, lowercase, numbers and a special character</div>
      </div>
    </div>
    
    <div class="did-floating-label-content">
      <span class="ab">
        <i class="fa" [ngClass]="{
                  'fa-eye-slash': !fieldTextType,
                  'fa-eye': fieldTextType
                }" (click)="toggleFieldTextType()"></i>
      </span>
      <input class="did-floating-input" [type]="fieldTextType ? 'text' : 'password'" placeholder=" " [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
      <label class="did-floating-label">Confirm Password</label>

      <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
        <div *ngIf="f.newPassword.errors.required">*Required</div>
        <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched">Password must have atleast
            8
            characters with one uppercase, lowercase, numbers and a special character</div>
      </div>
    </div>

    <input class="loginbtn btn" type="submit" value="Submit" (click)="onSubmit()">
    
  </div>

</form>